{% extends 'base.html' %}

{% block title %}
Post updating
{% endblock %}

{% block body %}
<div class="container">
    <h1>Post updating</h1>
        <form method="post">
            <input type="text" name="title" id="title" class="form-control" placeholder="Enter post name" value="{{ article.title }}"><br>
            <textarea name="intro" id="intro" class="form-control" placeholder="Enter intro"> {{ article.intro }}></textarea><br>
            <textarea name="text" id="text" class="form-control" placeholder="Enter post text"> {{ article.text }}></textarea><br>
            <input type="submit"  class="btn btn-success" value="Update">
        </form>

  </main>
</div>
{% endblock %}